@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Yellix-Black';
    font-weight: 500;
    font-style: bold;
    src:
        url('./assets/fonts/font_yellix/Yellix-Black.woff') format('woff'),
        url('./assets/fonts/font_yellix/Yellix-Black.woff2') format('woff2'),
        url('./assets/fonts/font_yellix/Yellix-Black.eot') format('.eot'),
        url('./assets/fonts/font_yellix/Yellix-Black.ttf') format('ttf'),
}

@font-face {
    font-family: 'Yellix';
    font-weight: normal;
    font-style: normal;
    src:
        url('./assets/fonts/font_yellix/Yellix-Regular.woff') format('woff'),
        url('./assets/fonts/font_yellix/Yellix-Regular.woff2') format('woff2'),
        url('./assets/fonts/font_yellix/Yellix-Regular.eot') format('.eot'),
        url('./assets/fonts/font_yellix/Yellix-Regular.ttf') format('ttf'),
}

body {
    font-family: 'Yellix', sans-serif;
    font-size: 16px;
}